RACK_ENV=production

REDIS_URL=redis://redis:6379

AIRBRAKE_HOST=
AIRBRAKE_KEY=

GOOGLE_API_KEY=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=

SOUNDCLOUD_CLIENT_ID=

# Google Webmaster Tools and Google Analytics
GOOGLE_VERIFICATION_TOKEN=googleXXXXXXXXXXXXXXXX.html
GOOGLE_ANALYTICS_ID=UA-1234567-1

# Loader.io
LOADERIO_VERIFICATION_TOKEN=loaderio-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
