/log
/tmp
/.env
/.dockerenv
/.vagrant
/.bundle
**/Thumbs.db
**/.DS_Store
**/*.swp
**/*~
ubuntu-*-cloudimg-console.log
.powder
.irb_history
**/*.crt
**/*.key

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml



# entries above are copied from .gitignore

/bin/eb-deploy
/.dockerenv.example
/.dockerignore
/.ebextensions
/.env.example
/.git
/.gitignore
/.platform
/.ruby-version
/Caddyfile
/Dockerfile
/Vagrantfile
/app.json
/docker-compose.yml
/kubernetes
/prometheus.yml
/fly.toml
