RACK_ENV=deployment

REDIS_URL=redis://redis:6379

#AIRBRAKE_HOST=
#AIRBRAKE_KEY=

#GOOGLE_API_KEY=

#VIMEO_ACCESS_TOKEN=

#FACEBOOK_APP_ID=
#FACEBOOK_APP_SECRET=

#SOUNDCLOUD_CLIENT_ID=

#TWITCH_CLIENT_ID=

#IMGUR_CLIENT_ID=

# Google Webmaster Tools and Google Analytics
#GOOGLE_VERIFICATION_TOKEN=googleXXXXXXXXXXXXXXXX.html
#GOOGLE_ANALYTICS_ID=UA-1234567-1
