/log/*.log
/tmp/*.pid
/tmp/*.sock
/tmp/restart.txt
/.env
/.dockerenv
/.vagrant
/.bundle
Thumbs.db
.DS_Store
*.swp
*~
ubuntu-*-cloudimg-console.log
.powder
*.crt
*.key

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
