<!doctype html>
<html>
<head>
<style>
body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#countdown {
  font-variant-numeric: tabular-nums;
}
</style>
</head>
<body>

<noscript>Please enable JavaScript to see this count down.</noscript>

<div id="date"></div>
<div id="countdown"></div>

<script>
const countdown = document.getElementById("countdown");
let then;

function pluralize(n) {
  if (n == 1) return "";
  return "s";
}

function init() {
  // Parse query string, e.g: /countdown.html?date=2018-09-27T03:30:00Z
  const params = {};
  window.location.search.substr(1).split("&").forEach(function(param) {
    param = param.split("=");
    params[param[0]] = param[1] ? decodeURIComponent(param[1]) : null;
  });

  const date = document.getElementById("date");

  if (!params["date"]) {
    date.textContent = "Missing date parameter.";
    return;
  }

  then = Date.parse(params["date"]);
  if (isNaN(then)) {
    date.textContent = "Error parsing date.";
    return;
  }

  const d = new Date(then);
  const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  date.textContent = `Countdown to ${d.getHours()}:${d.getMinutes().toString().padStart(2,'0')}:${d.getSeconds().toString().padStart(2,'0')} on ${months[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}.`
  date.title = `${params["date"]} (displayed in your timezone)`;

  setInterval(update, 1000);
  update();
}

function update() {
  const now = Date.now();
  let passed = false;
  let diff = Math.floor((then - now) / 1000);

  if (diff < 0) {
    passed = true;
    diff *= -1;
  }

  const seconds = diff % 60;
  const minutes = Math.floor((diff % 3600) / 60);
  const hours = Math.floor((diff % 86400) / 3600);
  const days = Math.floor(diff / 86400);

  let text = "";
  if (!passed && diff < 3600) {
    text += "Starting soon:";
  }
  else if (passed && diff < 3600) {
    text += "This event just started:";
  }
  else if (passed) {
    text += "This event already passed:";
  }
  else {
    text += "Time remaining:";
  }

  if (days > 0) text += ` ${days} day${pluralize(days)}`;
  if (days > 0 || hours > 0) text += ` ${hours} hour${pluralize(hours)}`;
  if (days > 0 || hours > 0 || minutes > 0) text += ` ${minutes} minute${pluralize(minutes)}`;
  text += ` ${seconds} second${pluralize(seconds)}`;

  if (passed) {
    text += " ago";
  }

  countdown.textContent = text;
}

init();
</script>
</body>
</html>
