<%- content_type :html -%>
<!doctype html>
<html lang="en">
<head>
  <title>RSS Box</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Get RSS feeds for services">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/img/icon32.png">
  <link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" title="GNU AGPL 3.0 or later">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/rssbox/releases.atom" title="Release feed">
  <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="RSS Box">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</head>
<body ga="<%= ENV["GOOGLE_ANALYTICS_ID"] %>">
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <h1 itemprop="name">RSS Box</h1>
  </header>

  <div class="container">
<% if ENV["TWITTER_ACCESS_TOKEN"] %>
    <form class="input-group" method="get" action="twitter">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="twitter_q">Twitter</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="twitter_q" placeholder="Enter a Twitter handle or a url." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-submit-type="">All posts (default)</a>
          <a class="dropdown-item" data-submit-type="include_rts=0&amp;exclude_replies=1">Exclude retweets and replies</a>
          <a class="dropdown-item" data-submit-type="include_rts=0">Exclude retweets</a>
          <a class="dropdown-item" data-submit-type="exclude_replies=1">Exclude replies</a>
          <a class="dropdown-item" data-submit-type="with_media=1">With media</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

<% if ENV["GOOGLE_API_KEY"] %>
    <form class="input-group" method="get" action="youtube">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="youtube_q">YouTube</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="youtube_q" placeholder="Enter a YouTube channel name, channel id, or a url to a channel or video." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-submit-type="live">Live</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

    <form class="input-group" method="get" action="googleplus">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="googleplus_q">Google+</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="googleplus_q" placeholder="Enter a Google+ name or a url." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

<% if ENV["VIMEO_ACCESS_TOKEN"] %>
    <form class="input-group" method="get" action="vimeo">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="vimeo_q">Vimeo</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="vimeo_q" placeholder="Enter a Vimeo channel name, video id, or a url to a channel or video." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

<% if ENV["FACEBOOK_APP_ID"] && ENV["FACEBOOK_APP_SECRET"] %>
    <form class="input-group" method="get" action="facebook">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="facebook_q">Facebook</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="facebook_q" placeholder="Enter a Facebook page name or its url." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-submit-type="posts">All posts (default)</a>
          <a class="dropdown-item" data-submit-type="live">Live videos</a>
          <a class="dropdown-item" data-submit-type="videos">Videos</a>
          <a class="dropdown-item" data-submit-type="photos">Photos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-download>Open video/photo</a>
          <a class="dropdown-item" data-download download>Download video/photo</a>
          <a class="dropdown-item" data-download-filename>Download video/photo with nice filename</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

    <form class="input-group" method="get" action="instagram">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="instagram_q">Instagram</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="instagram_q" placeholder="Enter an Instagram username or a url to a user or post." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-submit-type="posts">All posts (default)</a>
          <a class="dropdown-item" data-submit-type="videos">Videos</a>
          <a class="dropdown-item" data-submit-type="photos">Photos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-download>Open post</a>
          <a class="dropdown-item" data-download download>Download post</a>
          <a class="dropdown-item" data-download-filename>Download post with nice filename</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

    <form class="input-group" method="get" action="periscope">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="periscope_q">Periscope</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="periscope_q" placeholder="Enter a Periscope username or a url." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

<% if ENV["SOUNDCLOUD_CLIENT_ID"] %>
    <form class="input-group" method="get" action="soundcloud">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="soundcloud_q">SoundCloud</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="soundcloud_q" placeholder="Enter a SoundCloud username or a url to a user or track." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-download>Open track</a>
          <a class="dropdown-item" data-download download>Download track</a>
          <a class="dropdown-item" data-download-filename>Download track with nice filename</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

    <form class="input-group" method="get" action="mixcloud">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="mixcloud_q">Mixcloud</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="mixcloud_q" placeholder="Enter a Mixcloud username or a url to a user or track." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

<% if ENV["TWITCH_CLIENT_ID"] %>
    <form class="input-group" method="get" action="twitch">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="twitch_q">Twitch</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="twitch_q" placeholder="Enter a Twitch username, a url to a user, video or game." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-submit-type="highlight">Highlights only</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-vlc="watch">Open in VLC</a>
          <a class="dropdown-item" data-action="watch">Watch in external program</a>
          <a class="dropdown-item" data-download>Get download command</a>
          <a class="dropdown-item" data-irc="irc.chat.twitch.tv:6667">Open chat in IRC</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

    <form class="input-group" method="get" action="speedrun">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="speedrun_q">Speedrun</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="speedrun_q" placeholder="Enter a game name or a speedrun.com url." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

    <form class="input-group" method="get" action="ustream">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="ustream_q">Ustream</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="ustream_q" placeholder="Enter a Ustream channel name or a url." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-download>Download video</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

    <form class="input-group" method="get" action="dailymotion">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="dailymotion_q">Dailymotion</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="dailymotion_q" placeholder="Enter a Dailymotion channel name or a url." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

<% if ENV["IMGUR_CLIENT_ID"] %>
    <form class="input-group" method="get" action="imgur">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="imgur_q">Imgur</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="imgur_q" placeholder="Enter a Imgur username or a url. Or subreddit url." required>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-submit-type="animated=true">Animated only</a>
          <a class="dropdown-item" data-submit-type="animated=false">Pictures only</a>
          <a class="dropdown-item" data-submit-type="is_album=true">Albums only</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>
<% end %>

    <form class="input-group" method="get" action="svtplay">
      <div class="input-group-prepend">
        <span class="input-group-text"><label for="svtplay_q">SVT Play</label></span>
      </div>
      <input class="form-control" type="search" name="q" id="svtplay_q" placeholder="Enter a SVT Play program name or a url." required>
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </div>
    </form>

    <h2>About</h2>

    <p>This website lets you subscribe to RSS feeds for websites that do not support RSS themselves, by using the respective website's API and then translating that data to RSS feeds.</p>
    <p>If you get a page saying "Application error", simply try again. This website resolves shortlink URLs to give the reader a better experience, and embeds linked content directly into the RSS feed. You will get this error if this takes longer than the web server allows.</p>
    <p>Some websites like YouTube support RSS feeds but they are quite hard to find, so this website will simply redirect you to the correct URL.</p>
    <p>You can download Facebook videos, Instagram videos, SoundCloud tracks, etc. Just paste the url and use the dropdown.</p>
    <p>To open <tt>vlc://</tt> links, see <a href="https://github.com/stefansundin/vlc-protocol">vlc-protocol</a>.</p>
    <p><a href="https://github.com/stefansundin/rssbox">This app is free software.</a></p>

    <p><strong>Important:</strong> Please do not overload this service. Do not make more requests than you need. If you require RSS feeds that are updated very frequently, then please host the app on your own infrastructure. The hosting for this free offering has very limited resources. If you use the service in a way that degrades the experience for others, then I will start blocking your requests. Please be responsible so that as many people as possible can enjoy this free service.</p>

    <h2>Donate</h2>

    <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate" target="_blank" class="form-inline">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_name" value="RSS Box">
      <input type="hidden" name="item_number" value="RSS Box">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="hidden" name="currency_code" value="USD">
          <input class="form-control" type="text" name="amount" value="5.00" pattern="\d+\.?\d*" placeholder="Amount">
        </div>
      </div>
      <input class="btn btn-success" type="submit" value="Donate with PayPal">
    </form>

    <p><small><a class="expander blue" expand="donation-options">Show other donation options: Bitcoin, Square Cash.</a></small></p>
    <div id="donation-options">
      <p>Other donation options:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</li>
        <li>Square Cash: <a href="https://cash.me/$StefanSundin">$StefanSundin</a></li>
      </ul>
      <p>Contact me at <a fubar>stefaNStefansundinCom</a> if none of the above work.</p>
    </div>


    <h2>Credits</h2>

    <p>Made by <a href="https://stefansundin.github.io/">Stefan Sundin</a>.</p>
  </div>

  <%- if request.host == "rssbox.herokuapp.com" -%>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <%- end -%>
  <script src="https://stefansundin.github.io/js/fubar.js"></script>
  <script src="https://stefansundin.github.io/js/main.js"></script>
</body>
</html>
