<%- content_type :html -%>
<!doctype html>
<html lang="en">
<head>
  <title>RSS Box</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Get RSS feeds for services">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/img/icon32.png">
  <link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" title="GNU AGPL 3.0 or later">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/rssbox/releases.atom" title="Release feed">
  <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="RSS Box">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</head>
<body ga="<%= ENV["GOOGLE_ANALYTICS_ID"] %>">
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <h1 itemprop="name">RSS Box</h1>
  </header>

  <div class="container">
    <noscript>
      <div class="alert alert-info" role="alert">
        <p><strong>FYI:</strong> You have disabled JavaScript so a number of features will not work. The website should still be somewhat usable, but note that Firefox will attempt to download the RSS feed which makes it very difficult to copy the feed URL. The JavaScript displays a modal with the feed URL. For some services, the modal has additional options to customize the feed.</p>
        There is Google Analytics tracking present, but you can use an extension to block that.
      </div>
    </noscript>

    <div class="alert alert-success" role="alert">
      <p><strong>Please read:</strong> I am trying to raise money to implement a caching system and solve the problem described below. Please  consider helping out if you can.</p>
      <a href="https://github.com/stefansundin/rssbox/issues/43">To learn more, visit the GitHub issue.</a>
    </div>

    <div class="alert alert-warning" role="alert">
      <p><strong>Important:</strong> The public version of RSS Box is currently receiving more requests than it can handle. Unfortunately, because of a lack of caching, most requests are now failing. You may therefore have trouble subscribing to some feeds, in particular Twitter and Instagram. This will be addressed in a future update. But for now, please consider self hosting this app (<a href="https://github.com/stefansundin/rssbox#roll-your-own">instructions here</a>).</p>

      <p>Please do not overload this service. Do not make more requests than you need. If you require RSS feeds that are updated very frequently, then please host the app on your own infrastructure. The hosting for this free offering has very limited resources. If you use the service in a way that degrades the experience for others, then I will start blocking your requests. Please be responsible so that as many people as possible can enjoy this free service.</p>

      If you are already subscribed to a lot of feeds on this public instance, then please move them to your own instance.
    </div>

    <div id="services">
      <%- if ENV["TWITTER_ACCESS_TOKEN"] -%>
      <form class="input-group" method="get" action="twitter">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="twitter_q">Twitter</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="twitter_q" placeholder="Enter a Twitter handle or a url." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
      <%- end -%>

      <%- if ENV["GOOGLE_API_KEY"] -%>
      <form class="input-group" method="get" action="youtube">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="youtube_q">YouTube</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="youtube_q" placeholder="Enter a YouTube channel name, channel id, or a url to a channel or video." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
      <%- end -%>

      <%- if ENV["VIMEO_ACCESS_TOKEN"] -%>
      <form class="input-group" method="get" action="vimeo">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="vimeo_q">Vimeo</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="vimeo_q" placeholder="Enter a Vimeo channel name, video id, or a url to a channel or video." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
      <%- end -%>

      <form class="input-group" method="get" action="instagram">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="instagram_q">Instagram</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="instagram_q" placeholder="Enter an Instagram username or a url to a user or post." required>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" data-download>Open post</a>
            <a class="dropdown-item" data-download download>Download post</a>
            <a class="dropdown-item" data-download-filename>Download post with nice filename</a>
          </div>
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>

      <form class="input-group" method="get" action="periscope">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="periscope_q">Periscope</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="periscope_q" placeholder="Enter a Periscope username or a url." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>

      <%- if ENV["SOUNDCLOUD_CLIENT_ID"] -%>
      <form class="input-group" method="get" action="soundcloud">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="soundcloud_q">SoundCloud</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="soundcloud_q" placeholder="Enter a SoundCloud username or a url to a user or track." required>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" data-download>Get download command</a>
          </div>
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
      <%- end -%>

      <form class="input-group" method="get" action="mixcloud">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="mixcloud_q">Mixcloud</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="mixcloud_q" placeholder="Enter a Mixcloud username or a url to a user or track." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>

      <%- if ENV["TWITCH_CLIENT_ID"] -%>
      <form class="input-group" method="get" action="twitch">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="twitch_q">Twitch</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="twitch_q" placeholder="Enter a Twitch username, a url to a user, video or game." required>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right">
            <%- if ENV["TWITCHTOKEN_CLIENT_ID"] -%>
            <a class="dropdown-item" data-vlc="watch">Open in VLC</a>
            <a class="dropdown-item" data-action="watch">Watch in external program</a>
            <a class="dropdown-item" data-download>Get download command</a>
            <%- end -%>
            <a class="dropdown-item" data-irc="irc.chat.twitch.tv:6667">Open chat in IRC</a>
          </div>
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
      <%- end -%>

      <form class="input-group" method="get" action="speedrun">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="speedrun_q">Speedrun</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="speedrun_q" placeholder="Enter a game name or a speedrun.com url." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>

      <form class="input-group" method="get" action="ustream">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="ustream_q">Ustream</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="ustream_q" placeholder="Enter a Ustream channel name or a url." required>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" data-download>Download video</a>
          </div>
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>

      <form class="input-group" method="get" action="dailymotion">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="dailymotion_q">Dailymotion</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="dailymotion_q" placeholder="Enter a Dailymotion channel name or a url." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>

      <%- if ENV["IMGUR_CLIENT_ID"] -%>
      <form class="input-group" method="get" action="imgur">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="imgur_q">Imgur</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="imgur_q" placeholder="Enter a Imgur username or a url. Or subreddit url." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
      <%- end -%>

      <form class="input-group" method="get" action="svtplay">
        <div class="input-group-prepend">
          <span class="input-group-text"><label for="svtplay_q">SVT Play</label></span>
        </div>
        <input class="form-control" type="search" name="q" id="svtplay_q" placeholder="Enter a SVT Play program name or a url." required>
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Get RSS Feed">
        </div>
      </form>
    </div>

    <h2 id="about">About</h2>

    <p>This website lets you subscribe to RSS feeds for websites that do not support RSS themselves, by using the respective website's API and then translating that data to RSS feeds.</p>
    <p>If you get a page saying "Application error", then simply try again. This website resolves shortlink URLs to give the reader a better experience, and embeds linked content directly into the RSS feed. You will get this error if this takes longer than the web server allows.</p>
    <p>Some websites, like YouTube, support RSS feeds but they are quite hard to find, so this website will provide the URL.</p>
    <p>To open <tt>vlc://</tt> links, see <a href="https://github.com/stefansundin/vlc-protocol">vlc-protocol</a>.</p>
    <p><a href="https://github.com/stefansundin/rssbox">This app is free software.</a></p>

    <h2 id="donate">Donate</h2>

    <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate" target="_blank" class="form-inline">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_name" value="RSS Box">
      <input type="hidden" name="item_number" value="RSS Box">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="hidden" name="currency_code" value="USD">
          <input class="form-control" type="text" name="amount" value="5.00" pattern="\d+\.?\d*" placeholder="Amount">
        </div>
      </div>
      <input class="btn btn-success" type="submit" value="Donate with PayPal">
    </form>

    <p>You can also support me through <a target="_blank" href="https://github.com/sponsors/stefansundin">GitHub Sponsorship</a> (there are perks), or through <a target="_blank" href="https://www.patreon.com/stefansundin">Patreon</a>.</p>

    <p><small><a class="expander blue" expand="donation-options">Show other donation options: Bitcoin.</a></small></p>
    <div id="donation-options">
      <p>Other donation options:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</li>
      </ul>
      <p>Contact me at <a fubar>stefaNStefansundinCom</a> if none of the above work.</p>
    </div>


    <h2>Credits</h2>

    <p>Made by <a href="https://stefansundin.github.io/">Stefan Sundin</a>.</p>
  </div>

  <div class="modal" id="feed-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <label for="feed-url" class="col-form-label">Feed URL:</label>
          <div class="input-group">
            <input class="form-control" type="text" id="feed-url" placeholder="Feed URL">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary" id="copy-button">Copy</button>
            </div>
          </div>

          <form id="twitter-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="include_rts" value="0"> Exclude retweets
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="exclude_replies" value="1"> Exclude replies
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="with_media" value="1"> With media
              </label>
            </div>
          </form>

          <form id="instagram-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="type" value="" checked> All posts
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="type" value="videos"> Videos only
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="type" value="photos"> Photos only
              </label>
            </div>
          </form>

          <form id="twitch-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="type" value="highlight"> Highlights only
              </label>
            </div>
          </form>

          <form id="imgur-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="animated" value="" checked> All posts
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="animated" value="true"> Animated only
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="animated" value="false"> Pictures only
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="is_album" value="true"> Albums only
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <%- if request.host == "rssbox.herokuapp.com" -%>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <%- end -%>
  <script src="https://stefansundin.github.io/js/fubar.js"></script>
  <script src="https://stefansundin.github.io/js/main.js"></script>
</body>
</html>
