<%- content_type :html -%>
<!doctype html>
<html lang="en">
<head>
  <title>RSS Box</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Get RSS feeds for services">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/img/icon32.png">
  <link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" title="GNU AGPL 3.0 or later">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/rssbox/releases.atom" title="Release feed">
  <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="RSS Box">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</head>
<body>
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <h1 itemprop="name">RSS Box</h1>
  </header>

  <div class="container">
    <noscript>
      <div class="alert alert-info" role="alert">
        <strong>FYI:</strong> You have disabled JavaScript so a number of features will not work. The website should still be somewhat usable, but note that Firefox will attempt to download the RSS feed which makes it very difficult to copy the feed URL. The JavaScript displays a modal with the feed URL. For some services, the modal has additional options to customize the feed.
      </div>
    </noscript>

    <%- if ENV["WEBSITE_NOTICE"] -%>
    <div class="alert alert-warning" role="alert">
      <%= ENV["WEBSITE_NOTICE"] %>
    </div>
    <%- end -%>

    <div id="services">
      <%- if (!$enabled_services || $enabled_services.include?("twitter")) && ENV["TWITTER_ACCESS_TOKEN"] -%>
      <form class="input-group" method="get" action="twitter">
        <span class="input-group-text"><label for="twitter_q">Twitter</label></span>
        <input class="form-control" type="search" name="q" id="twitter_q" placeholder="Enter a Twitter handle or a url." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if (!$enabled_services || $enabled_services.include?("youtube")) && ENV["GOOGLE_API_KEY"] -%>
      <form class="input-group" method="get" action="youtube">
        <span class="input-group-text"><label for="youtube_q">YouTube</label></span>
        <input class="form-control" type="search" name="q" id="youtube_q" placeholder="Enter a YouTube channel name, channel id, or a url to a channel or video." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if (!$enabled_services || $enabled_services.include?("vimeo")) && ENV["VIMEO_ACCESS_TOKEN"] -%>
      <form class="input-group" method="get" action="vimeo">
        <span class="input-group-text"><label for="vimeo_q">Vimeo</label></span>
        <input class="form-control" type="search" name="q" id="vimeo_q" placeholder="Enter a Vimeo channel name, video id, or a url to a channel or video." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if !$enabled_services || $enabled_services.include?("instagram") -%>
      <form class="input-group" method="get" action="instagram">
        <span class="input-group-text"><label for="instagram_q">Instagram</label></span>
        <input class="form-control" type="search" name="q" id="instagram_q" placeholder="Enter an Instagram username or a url to a user or post." required>
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" data-download>Open post</a>
          <a class="dropdown-item" data-download download>Download post</a>
          <a class="dropdown-item" data-download-filename>Download post with nice filename</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if (!$enabled_services || $enabled_services.include?("soundcloud")) && ENV["SOUNDCLOUD_CLIENT_ID"] && ENV["SOUNDCLOUD_CLIENT_SECRET"] -%>
      <form class="input-group" method="get" action="soundcloud">
        <span class="input-group-text"><label for="soundcloud_q">SoundCloud</label></span>
        <input class="form-control" type="search" name="q" id="soundcloud_q" placeholder="Enter a SoundCloud username or a url to a user or track." required>
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" data-download target="_blank">Download track</a>
          <a class="dropdown-item" data-download-filename>Download track with nice filename</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if !$enabled_services || $enabled_services.include?("mixcloud") -%>
      <form class="input-group" method="get" action="mixcloud">
        <span class="input-group-text"><label for="mixcloud_q">Mixcloud</label></span>
        <input class="form-control" type="search" name="q" id="mixcloud_q" placeholder="Enter a Mixcloud username or a url to a user or track." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if (!$enabled_services || $enabled_services.include?("twitch")) && ENV["TWITCH_CLIENT_ID"] -%>
      <form class="input-group" method="get" action="twitch">
        <span class="input-group-text"><label for="twitch_q">Twitch</label></span>
        <input class="form-control" type="search" name="q" id="twitch_q" placeholder="Enter a Twitch username, a url to a user, video or game." required>
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-end">
          <%- if ENV["TWITCHTOKEN_CLIENT_ID"] -%>
          <a class="dropdown-item" data-vlc="watch">Open in VLC</a>
          <a class="dropdown-item" data-action="watch">Watch in external program</a>
          <a class="dropdown-item" data-download>Get download command</a>
          <%- end -%>
          <a class="dropdown-item" data-irc="irc.chat.twitch.tv:6667">Open chat in IRC</a>
        </div>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if !$enabled_services || $enabled_services.include?("speedrun") -%>
      <form class="input-group" method="get" action="speedrun">
        <span class="input-group-text"><label for="speedrun_q">Speedrun</label></span>
        <input class="form-control" type="search" name="q" id="speedrun_q" placeholder="Enter a game name or a speedrun.com url." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if !$enabled_services || $enabled_services.include?("dailymotion") -%>
      <form class="input-group" method="get" action="dailymotion">
        <span class="input-group-text"><label for="dailymotion_q">Dailymotion</label></span>
        <input class="form-control" type="search" name="q" id="dailymotion_q" placeholder="Enter a Dailymotion channel name or a url." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if (!$enabled_services || $enabled_services.include?("imgur")) && ENV["IMGUR_CLIENT_ID"] -%>
      <form class="input-group" method="get" action="imgur">
        <span class="input-group-text"><label for="imgur_q">Imgur</label></span>
        <input class="form-control" type="search" name="q" id="imgur_q" placeholder="Enter a Imgur username or a url. Or subreddit url." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>

      <%- if !$enabled_services || $enabled_services.include?("svtplay") -%>
      <form class="input-group" method="get" action="svtplay">
        <span class="input-group-text"><label for="svtplay_q">SVT Play</label></span>
        <input class="form-control" type="search" name="q" id="svtplay_q" placeholder="Enter a SVT Play program name or a url." required>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </form>
      <%- end -%>
    </div>

    <h2 id="about">About</h2>

    <p>This website lets you subscribe to RSS feeds for websites that do not support RSS themselves, by using the respective website's API and then translating that data to RSS feeds.</p>
    <p>If you get a page saying "Application error", then simply try again. This website resolves shortlink URLs to give the reader a better experience, and embeds linked content directly into the RSS feed. You will get this error if this takes longer than the web server allows.</p>
    <p>Some websites, like YouTube, support RSS feeds but they are quite hard to find, so this website will provide the URL.</p>
    <p>To open <tt>vlc://</tt> links, see <a href="https://github.com/stefansundin/vlc-protocol">vlc-protocol</a>.</p>
    <p><a href="https://github.com/stefansundin/rssbox">This app is free software.</a></p>

    <h2 id="donate">Donate</h2>

    <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate" target="_blank" class="row g-3 mb-3">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_name" value="RSS Box">
      <input type="hidden" name="item_number" value="RSS Box">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-text"><label for="donation_amount">$</label></span>
          <input type="hidden" name="currency_code" value="USD">
          <input class="form-control" type="text" id="donation_amount" name="amount" value="5.00" pattern="\d+\.?\d*" placeholder="Amount">
        </div>
      </div>
      <div class="col">
        <input class="btn btn-success" type="submit" value="Donate with PayPal">
      </div>
    </form>

    <p>You can also support me through <a target="_blank" href="https://github.com/sponsors/stefansundin">GitHub Sponsorship</a> (there are perks), or through <a target="_blank" href="https://www.patreon.com/stefansundin">Patreon</a>.</p>

    <p><small><a class="expander blue" expand="donation-options">Show other donation options: Bitcoin.</a></small></p>
    <div id="donation-options">
      <p>Other donation options:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</li>
      </ul>
      <p>Contact me at <a fubar>stefaNStefansundinCom</a> if none of the above work.</p>
    </div>


    <h2>Credits</h2>

    <p>Made by <a href="https://stefansundin.github.io/">Stefan Sundin</a>.</p>
  </div>

  <div class="modal" id="feed-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <label for="feed-url" class="col-form-label">Feed URL:</label>
          <div class="input-group">
            <input class="form-control" type="text" id="feed-url" placeholder="Feed URL">
            <button type="button" class="btn btn-primary" id="copy-button">Copy</button>
          </div>

          <form id="twitter-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="include_rts" value="0"> Exclude retweets
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="exclude_replies" value="1"> Exclude replies
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="with_media" value="1"> With media
              </label>
            </div>
          </form>

          <form id="youtube-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="shorts" value="0"> Filter out shorts
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="min_length" value="1m"> Minimum video length
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="eventType" value="live,upcoming"> Live and upcoming streams
              </label>
            </div>
            <div class="row gx-2 mt-2">
              <div class="col-auto">
                <label class="col-form-label" for="youtube_title_filter">Filter by video title</label>
              </div>
              <div class="col-auto">
                <input type="text" id="youtube_title_filter" name="q" class="form-control">
              </div>
            </div>
          </form>

          <form id="instagram-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="type" value="" checked> All posts
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="type" value="videos"> Videos only
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="type" value="photos"> Photos only
              </label>
            </div>
          </form>

          <form id="twitch-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="type" value="highlight"> Highlights only
              </label>
            </div>
          </form>

          <form id="imgur-options" method="get">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="animated" value="" checked> All posts
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="animated" value="true"> Animated only
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="animated" value="false"> Pictures only
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="is_album" value="true"> Albums only
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-check bottom-right-fixed bg-body-secondary d-none js-show" title="Reset with shift-click">
    <input class="form-check-input" type="checkbox" id="dark-mode" autocomplete="off">
    <label class="form-check-label" for="dark-mode">Dark mode</label>
  </div>
</body>
</html>
