<%- content_type :html -%>
<!doctype html>
<html lang="en">
<head>
  <title>RSS Box</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Get RSS feeds for services">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/img/icon32.png">
  <link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" title="GNU AGPL 3.0 or later">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/rssbox/releases.atom" title="Release feed">
  <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="RSS Box">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <h1 itemprop="name">RSS Box</h1>
  </header>

  <div class="container">
    <noscript>
      <div class="alert alert-info" role="alert">
        <strong>FYI:</strong> You have disabled JavaScript so a number of features will not work. The website should still be somewhat usable, but note that Firefox will attempt to download the RSS feed which makes it very difficult to copy the feed URL. The JavaScript displays a modal with the feed URL. For some services, the modal has additional options to customize the feed.
      </div>
    </noscript>

    <div class="alert alert-warning text-center" role="alert">
      <p><strong>This domain has been deprecated and will stop working very soon.</strong></p>
      <p><a href="https://github.com/stefansundin/rssbox/discussions/64" target="_blank">Please find another public RSS Box instance here.</a></p>
      <p><a href="https://github.com/stefansundin/rssbox/issues/61" target="_blank">Read this if you want to learn more about why this domain has stopped working.</a></p>
    </div>
  </div>
</body>
</html>
