<!DOCTYPE html>
<html lang="en">
<head>
  <base target="_blank">
  <title>RSS Box</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Get RSS feeds for services">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="icon" href="img/icon32.png">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/rssbox/releases.atom" title="Release feed">
  <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="RSS Box">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha384-pdapHxIh7EYuwy6K7iE41uXVxGCXY0sAjBzaElYGJUrzwodck3Lx6IE2lA0rFREo" crossorigin="anonymous">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha384-pPttEvTHTuUJ9L2kCoMnNqCRcaMPMVMsWVO+RLaaaYDmfSP5//dP6eKRusbPcqhZ" crossorigin="anonymous"></script>
  <style>
body {
  padding: 0 15px;
  margin-bottom: 100px;
}
a {
  cursor: pointer;
}
.container {
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

header {
  margin-top: 25px;
  text-align: center;
}
header h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
header h2 {
  border: none;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 400;
}
h2 {
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
  padding-bottom: 0.125em;
}

.input-group {
  margin-bottom: 15px;
}
.input-group-addon {
  min-width: 110px;
}
.input-group-addon label {
  margin: 0;
}
.dropdown-toggle {
  border-radius: 0;
  padding: 6px 4px;
}

.expander {
  display: none;
}
.share {
  text-align: center;
  margin: 80px 0 45px;
}
  </style>
  <script>
$(document).ready(function() {
  $("[data-submit-type]").click(function() {
    form = $(this).parents("form");
    val = $(this).attr("data-submit-type");
    $('<input type="hidden" name="type">').val(val).insertAfter(this);
    form.find("[type=submit]").click();
  });
  $("[data-download]").click(function() {
    form = $(this).parents("form");
    url = form.find("input[name=q]").val();
    window.location = form.attr("action")+"/download?url="+url;
  });
});
$(window).bind("pageshow", function(e) {
  $("[name=type]").detach(); // remove type inputs which remain when using the back button
});
  </script>
</head>
<body ga="<%= ENV["GOOGLE_ANALYTICS_ID"] %>">
  <header>
    <img src="img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <h1 itemprop="name">RSS Box</h1>
    <h2 itemprop="description">Get RSS feeds for services</h2>
  </header>

  <div class="container">
<% if ENV["GOOGLE_API_KEY"] %>
    <form class="input-group" method="get" action="youtube" target="_self">
      <div class="input-group-addon"><label for="youtube_q">YouTube</label></div>
      <input class="form-control" type="search" name="q" id="youtube_q" placeholder="Enter a YouTube channel name, channel id, or a url to a channel or video." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a data-submit-type="live">Live</a></li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>

    <form class="input-group" method="get" action="googleplus" target="_self">
      <div class="input-group-addon"><label for="googleplus_q">Google+</label></div>
      <input class="form-control" type="search" name="q" id="googleplus_q" placeholder="Enter a Google+ name or a url." required>
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

<% if ENV["VIMEO_ACCESS_TOKEN"] %>
    <form class="input-group" method="get" action="vimeo" target="_self">
      <div class="input-group-addon"><label for="vimeo_q">Vimeo</label></div>
      <input class="form-control" type="search" name="q" id="vimeo_q" placeholder="Enter a Vimeo channel name, video id, or a url to a channel or video." required>
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

<% if ENV["FACEBOOK_APP_ID"] and ENV["FACEBOOK_APP_SECRET"] %>
    <form class="input-group" method="get" action="facebook" target="_self">
      <div class="input-group-addon"><label for="facebook_q">Facebook</label></div>
      <input class="form-control" type="search" name="q" id="facebook_q" placeholder="Enter a Facebook page name or its url." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a data-submit-type="posts">All posts (default)</a></li>
          <li><a data-submit-type="videos">Videos</a></li>
          <li><a data-submit-type="photos">Photos</a></li>
          <li><a data-download>Download video</a></li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

<% if ENV["INSTAGRAM_CLIENT_ID"] and ENV["INSTAGRAM_CLIENT_SECRET"] %>
    <form class="input-group" method="get" action="instagram" target="_self">
      <div class="input-group-addon"><label for="instagram_q">Instagram</label></div>
      <input class="form-control" type="search" name="q" id="instagram_q" placeholder="Enter an Instagram username or a url to a user or post." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a data-submit-type="posts">All posts (default)</a></li>
          <li><a data-submit-type="videos">Videos</a></li>
          <li><a data-submit-type="photos">Photos</a></li>
          <li><a data-download>Download post</a></li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

    <form class="input-group" method="get" action="vine" target="_self">
      <div class="input-group-addon"><label for="vine_q">Vine</label></div>
      <input class="form-control" type="search" name="q" id="vine_q" placeholder="Enter a Vine username or a url." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a data-download>Download video</a></li>
          <li><a href="vine/popular-now">Popular now</a></li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>

<% if ENV["SOUNDCLOUD_CLIENT_ID"] %>
    <form class="input-group" method="get" action="soundcloud" target="_self">
      <div class="input-group-addon"><label for="soundcloud_q">SoundCloud</label></div>
      <input class="form-control" type="search" name="q" id="soundcloud_q" placeholder="Enter a SoundCloud username or a url to a user or track." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a data-download>Download track</a></li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

    <form class="input-group" method="get" action="ustream" target="_self">
      <div class="input-group-addon"><label for="ustream_q">Ustream</label></div>
      <input class="form-control" type="search" name="q" id="ustream_q" placeholder="Enter a Ustream channel name or a url." required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a data-download>Download video</a></li>
        </ul>
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>

    <form class="input-group" method="get" action="dailymotion" target="_self">
      <div class="input-group-addon"><label for="dailymotion_q">Dailymotion</label></div>
      <input class="form-control" type="search" name="q" id="dailymotion_q" placeholder="Enter a Dailymotion channel name or a url." required>
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>

<% if ENV["IMGUR_CLIENT_ID"] %>
    <form class="input-group" method="get" action="imgur" target="_self">
      <div class="input-group-addon"><label for="imgur_q">Imgur</label></div>
      <input class="form-control" type="search" name="q" id="imgur_q" placeholder="Enter a Imgur user name or a url. Or subreddit url." required>
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

    <h2>About</h2>

    <ul>
      <li>YouTube lets you subscribe to a channel's recent videos, but it is difficult to find the url. Playlists also work.</li>
      <li>Vimeo also has RSS feeds, but are easier to find than YouTube's feeds.</li>
      <li>The other platforms don't have native feeds, so this website builds a feed from their API.</li>
    </ul>

    <p><a href="https://github.com/stefansundin/rssbox">This app is free software.</a></p>


    <h2>Donate</h2>

    <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_number" value="RSS Box">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="input-group col-sm-5">
        <input class="form-control" type="text" name="amount" id="amount" value="$5.00" placeholder="Amount">
        <span class="input-group-btn">
          <input class="btn btn-success" type="submit" value="Donate with PayPal">
        </span>
      </div>
    </form>

    <p><small><a class="expander" expand="donation-options">Show other donation options: Bitcoin, Square Cash, ChangeTip.</a></small></p>
    <div id="donation-options">
      <p>Other donation options:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</li>
        <li>Square Cash: <a href="https://cash.me/$StefanSundin">$StefanSundin</a></li>
        <li>ChangeTip: <a href="https://www.changetip.com/tipme/stefansundin">stefansundin</a></li>
      </ul>
      <p>Contact me at <a fubar>stefaNStefansundinCom</a> if none of the above work.</p>
    </div>


    <h2>Credits</h2>

    <p>Made by Stefan Sundin.</p>

    <p>You can <a href="https://stefansundin.github.io/">browse my other projects</a>, or <a href="https://stefansundin.com/">visit my personal website</a>.</p>


    <div class="share">
      <iframe src="https://mdo.github.io/github-buttons/github-btn.html?user=stefansundin&amp;repo=rssbox&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="155" height="30"></iframe>
    </div>
  </div>

  <%- if request.host == "rssbox.herokuapp.com" -%>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <%- end -%>
  <script src="https://stefansundin.github.io/js/fubar.js"></script>
  <script src="https://stefansundin.github.io/js/main.js"></script>
</body>
</html>
