<!DOCTYPE html>
<html lang="en">
<head>
  <base target="_blank">
  <title>RSS Box</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Get RSS feeds for services">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="icon" href="/img/icon32.png">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stefansundin.github.io/css/main.css">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/rssbox/releases.atom" title="Release feed">
  <style>
.input-group-addon {
  min-width: 100px;
}
.input-group-addon label {
  margin: 0;
}
  </style>
</head>
<body ga="<%= ENV["GOOGLE_ANALYTICS_ID"] %>">
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <hgroup>
      <h1 itemprop="name">RSS Box</h1>
      <h2 itemprop="description">Get RSS feeds for services</h2>
    </hgroup>
  </header>

<% if ENV["GOOGLE_API_KEY"] %>
  <div class="container">
    <form class="input-group" method="get" action="/youtube" target="_self">
      <div class="input-group-addon"><label for="youtube_q">YouTube</label></div>
      <input class="form-control" type="search" name="q" id="youtube_q" placeholder="Enter a YouTube channel name, channel id, or a url to a channel or video.">
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

<% if ENV["FACEBOOK_APP_ID"] and ENV["FACEBOOK_APP_SECRET"] %>
    <form class="input-group" method="get" action="/facebook" target="_self">
      <div class="input-group-addon"><label for="facebook_q">Facebook</label></div>
      <input class="form-control" type="search" name="q" id="facebook_q" placeholder="Enter a Facebook page name or its url.">
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>

<% if ENV["INSTAGRAM_CLIENT_ID"] and ENV["INSTAGRAM_CLIENT_SECRET"] %>
    <form class="input-group" method="get" action="/instagram" target="_self">
      <div class="input-group-addon"><label for="instagram_q">Instagram</label></div>
      <input class="form-control" type="search" name="q" id="instagram_q" placeholder="Enter an Instagram username or a url to a user or post.">
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Get RSS Feed">
      </span>
    </form>
<% end %>


    <h2>About</h2>

    <ul>
      <li>YouTube lets you subscribe to a channel's recent videos, but it is difficult to find the url.</li>
      <li>Facebook used to let you subscribe to an RSS feed, but now this website builds an RSS feed for you.</li>
      <li>Instagram does not supply RSS feeds, but this website builds one for you.</li>
    </ul>

    <p><a href="https://github.com/stefansundin/rssbox">This app is free software.</a></p>


    <h2>Donate</h2>

    <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_number" value="RSS Box">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="input-group col-sm-5">
        <input class="form-control" type="text" name="amount" id="amount" value="$5.00" placeholder="Amount">
        <span class="input-group-btn">
          <input class="btn btn-success" type="submit" value="Donate with PayPal">
        </span>
      </div>
    </form>

    <p><small><a class="expander" expand="donation-options">Show other donation options: Bitcoin, Square Cash.</a></small></p>
    <div class="expandable" id="donation-options">
      <p>Other donation options:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</li>
        <li>Square Cash: <a href="https://cash.me/$StefanSundin">$StefanSundin</a></li>
        <li>Contact me at <a fubar>stefaNStefansundinCom</a> if none of the above options work.</li>
      </ul>
    </div>


    <h2>Credits</h2>

    <p>Made by Stefan Sundin.</p>

    <p>You can <a href="https://stefansundin.github.io/">browse my other projects</a>, or <a href="https://stefansundin.com/">visit my personal website</a>.</p>


    <div class="share">
      <iframe src="https://mdo.github.io/github-buttons/github-btn.html?user=stefansundin&amp;repo=rssbox&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="155" height="30"></iframe>
    </div>
  </div>

  <%- if request.host == "rssbox.herokuapp.com" -%>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <%- end -%>
  <script src="https://stefansundin.github.io/js/fubar.js"></script>
  <script src="https://stefansundin.github.io/js/main.js"></script>
</body>
</html>
