<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>moron</id>
  <title>You are a moron</title>
<%- 10.times do |i| -%>

  <entry>
    <id>moron:<%= Time.now %>:<%= (rand * 1000).to_i %></id>
    <title>You are a moron</title>
    <updated><%= Time.now+i %></updated>
    <content type="html">
      Stop abusing my service, moron! Seriously, stop ruining it for everyone else! Stop using it, go away and never come back!
    </content>
  </entry>
<%- end -%>
</feed>
