<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
  overflow: hidden;
}
iframe {
  min-height: 378px;
}
</style>
</head>
<body>

<noscript>Please enable JavaScript.</noscript>

<script>
let qs = window.location.hash.substr(1);
qs += `&parent=${window.location.hostname}`;
if (document.referrer != "") {
  const referrer = new URL(document.referrer);
  qs += `&parent=${referrer.hostname}`;
}

const iframe = document.createElement("iframe");
iframe.width = "100%";
iframe.height = "100%";
iframe.frameBorder = "0";
iframe.scrolling = "no";
iframe.allowFullscreen = true;
iframe.src = `https://player.twitch.tv/?${qs}`;
document.body.appendChild(iframe);
</script>
</body>
</html>
