<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>twitter:<%= @user_id %></id>
  <title><%= @username.esc %> on Twitter</title>
  <icon>https://abs.twimg.com/favicons/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://twitter.com/<%= @username %>" rel="alternate" />
  <updated>2022-11-25T20:00:00Z</updated>

  <entry>
    <id>https://github.com/stefansundin/rssbox/issues/61</id>
    <title>Notice: you need to migrate away from rssbox.herokuapp.com</title>
    <link href="https://github.com/stefansundin/rssbox/discussions/64" />
    <updated>2022-11-25T20:00:00Z</updated>
    <content type="html">
&lt;p>Heroku has shut down their free tier so this domain is no longer operational.&lt;/p>
&lt;p>There is a list of other public instances here: &lt;a href="https://github.com/stefansundin/rssbox/discussions/64">https://github.com/stefansundin/rssbox/discussions/64&lt;/a>&lt;/p>
&lt;p>If you want to learn more about why this domain has stopped working, read this: &lt;a href="https://github.com/stefansundin/rssbox/issues/61">https://github.com/stefansundin/rssbox/issues/61&lt;/a>&lt;/p>
&lt;p>&lt;strong>Please unsubscribe from this feed as I can't guarantee that no one can take this domain afterwards!!!&lt;/strong>&lt;/p>
</content>
  </entry>
</feed>
