.timeago {
  border-bottom: 1px dotted #6f6f6f;
}
.float-right {
  margin-right: 6px;
}
button.float-right {
  margin-right: 0;
}
.card {
  margin-bottom: 20px;
}
.table {
  margin: 0;
}
.modal h4 {
  margin-top: 10px;
}
#submit_section {
  margin-bottom: 10px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

time {
  white-space: nowrap;
}
textarea {
  resize: vertical;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 1px;
  background: #29d;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 0.8;
  pointer-events: none;
}
