.timeago {
  border-bottom: 1px dotted #6f6f6f;
}
.pull-right {
  margin-right: 6px;
}
.panel-body {
  padding: 0;
}
.table {
  margin: 0;
}
.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

time {
  white-space: nowrap;
}
textarea {
  resize: vertical;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 1px;
  background: #29d;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 0.8;
  pointer-events: none;
}
