# Uncomment and replace fs-01234567 with your EFS id.

# packages:
#   yum:
#     amazon-efs-utils: []
#
# commands:
#   "01":
#     command: mkdir /mnt/efs
#     test: test ! -d /mnt/efs
#   "02":
#     command: mountpoint -q /mnt/efs || mount -t efs -o tls fs-01234567:/ /mnt/efs
#   "03":
#     command: ln -s /mnt/efs/etc/letsencrypt /etc/letsencrypt
#     test: test ! -h /etc/letsencrypt
