# Uncomment and replace fs-01234567 with your EFS id.

# packages:
#   yum:
#     amazon-efs-utils: []
#
# commands:
#   "01":
#     command: mkdir -p /mnt/efs
#     test: test ! -d /mnt/efs
#   "02":
#     command: grep -q /mnt/efs /etc/fstab || echo "fs-01234567:/ /mnt/efs efs tls,_netdev" >> /etc/fstab
#   "03":
#     command: mountpoint -q /mnt/efs || mount /mnt/efs
#   "04":
#     command: mkdir -p /mnt/efs/etc/letsencrypt
#     test: test ! -d /mnt/efs/etc/letsencrypt
#   "05":
#     command: ln -s /mnt/efs/etc/letsencrypt /etc/letsencrypt
#     test: test ! -h /etc/letsencrypt
#   "06":
#     command: mkdir -p /mnt/efs/var/www/acme-challenges
#     test: test ! -d /mnt/efs/var/www/acme-challenges
#   "07":
#     command: rm -rf /var/www/acme-challenges && ln -s /mnt/efs/var/www/acme-challenges /var/www/acme-challenges
#     test: test ! -h /var/www/acme-challenges
