# Uncomment and replace fs-01234567 with your EFS id.

# packages:
#   yum:
#     amazon-efs-utils: []
#
# commands:
#   "01-efs":
#     test: test ! -d /mnt/efs
#     command: mkdir -p /mnt/efs
#   "02-efs":
#     command: grep -q /mnt/efs /etc/fstab || echo "fs-01234567:/ /mnt/efs efs tls,_netdev" >> /etc/fstab
#   "03-efs":
#     command: mountpoint -q /mnt/efs || mount /mnt/efs
#   "04-efs":
#     test: test ! -d /mnt/efs/etc/letsencrypt
#     command: mkdir -p /mnt/efs/etc/letsencrypt
#   "05-efs":
#     test: test ! -h /etc/letsencrypt
#     command: ln -s /mnt/efs/etc/letsencrypt /etc/letsencrypt
#     ignoreErrors: true
#   "06-efs":
#     test: test ! -d /mnt/efs/var/acme-challenges
#     command: mkdir -p /mnt/efs/var/acme-challenges
#   "07-efs":
#     test: test ! -h /var/acme-challenges
#     command: ln -s /mnt/efs/var/acme-challenges /var/acme-challenges
#     ignoreErrors: true
