# The EC2 role needs CloudWatchAgentServerPolicy or CloudWatchAgentAdminPolicy.
# Note that CloudWatch metrics can be surprisingly costly, so keep an eye on your bill!
# Increase the collection interval and only send the metrics that are useful!

# container_commands:
#   "01":
#     command: amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:.ebextensions/amazon-cloudwatch-agent.json -s
