# Set the env variables CERTBOT_DOMAIN and CERTBOT_EMAIL.
# If you don't need this, then delete this file and .ebextensions/nginx/nginx.conf

Resources:
  SSLSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/cron.d/certbot:
    mode: "000644"
    owner: root
    group: root
    content: |
      @daily root /opt/certbot-auto renew

container_commands:
  10_installcertbot:
    command: "wget -O certbot-auto https://dl.eff.org/certbot-auto; chmod a+x certbot-auto"
    cwd: /opt
    test: test ! -f /opt/certbot-auto
  20_createwebrootpath:
    command: "mkdir -p /var/www/acme-challenge/"
  30_getcert:
    command: "/opt/certbot-auto certonly --debug --non-interactive --agree-tos --keep-until-expiring --installer nginx --authenticator webroot --webroot-path /var/www/acme-challenge --email ${CERTBOT_EMAIL} --domains ${CERTBOT_DOMAIN}"
  40_link:
    command: "ln -sf ${CERTBOT_DOMAIN} eb"
    cwd: /etc/letsencrypt/live
  50_reloadnginx:
    command: "service nginx reload"
    cwd: /etc/nginx/conf.d
