# Set the env variables CERTBOT_DOMAIN and CERTBOT_EMAIL.
# If you don't need this, then delete this file, 40-nginx.config, and nginx/nginx.conf

files:
  /etc/cron.d/certbot:
    mode: "000644"
    owner: root
    group: root
    content: |
      @daily root /opt/certbot-auto renew

container_commands:
  10_installcertbot:
    command: "wget -O certbot-auto https://dl.eff.org/certbot-auto; chmod a+x certbot-auto"
    cwd: /opt
    test: test ! -f /opt/certbot-auto
  20_createwebrootpath:
    command: "mkdir -p /var/www/acme-challenge/"
    test: test ! -d /var/www/acme-challenge/
  30_getcert:
    command: "/opt/certbot-auto certonly --debug --non-interactive --agree-tos --keep-until-expiring --installer nginx --authenticator webroot --webroot-path /var/www/acme-challenge --email $CERTBOT_EMAIL --domains $CERTBOT_DOMAIN"
    test: test -n "$CERTBOT_DOMAIN"
  40_link:
    command: "ln -sf /etc/letsencrypt/live/$CERTBOT_DOMAIN eb"
    test: test -n "$CERTBOT_DOMAIN"
  50_reloadnginx:
    command: "service nginx reload"
    cwd: /etc/nginx/conf.d
    test: test -n "$CERTBOT_DOMAIN"
