# https://github.com/puma/puma/blob/master/docs/restart.md
# Restart puma every day to clean up memory bloat.

files:
  /opt/restart-app:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -ex
      kill -SIGUSR1 $(cat /var/pids/web.pid)

  /etc/systemd/system/restart-app.service:
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description="Service that runs /opt/restart-app"
      Requires=restart-app.timer
      [Service]
      Type=simple
      ExecStart=/opt/restart-app

  /etc/systemd/system/restart-app.timer:
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description="Timer for restart-app.service"
      [Timer]
      Unit=restart-app.service
      OnCalendar=daily
      RandomizedDelaySec=30m
      [Install]
      WantedBy=timers.target

container_commands:
  "01-enable-timer":
    command: |
      systemctl daemon-reload
      systemctl enable --now restart-app.timer
