# https://github.com/puma/puma/blob/master/docs/restart.md
# Restart puma every day to clean up memory bloat.

files:
  /opt/restart-app:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -ex
      kill -SIGUSR1 $(cat /var/pids/web.pid)

  /etc/cron.d/restart:
    mode: "000644"
    owner: root
    group: root
    content: |
      @daily root /opt/restart-app
