# This blog post suggests that the file will used automatically, but that is probably specific to Go and Java since it is under their sections in the docs.. A shame..
# https://aws.amazon.com/blogs/aws/elastic-beanstalk-update-support-for-java-and-go/

container_commands:
  "01":
    command: cmp --silent .ebextensions/nginx/nginx.conf /etc/nginx/nginx.conf || (cp .ebextensions/nginx/nginx.conf /etc/nginx/nginx.conf && service nginx restart)
