# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html

option_settings:
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /health
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: standard
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: 8
