# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html

option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: "production"
    BUNDLE_JOBS: "1"
    LANG: "en_US.UTF-8"
    RESTART_APP_INTERVAL: "86400"

option_settings:
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: "/health"
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: "2"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: MonitoringInterval
    value: "5 minute"
    # You can use "1 minute" to get detailed metrics, but it will cost you $2.10 per month.
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: "standard"
    # Use "gp3" if you need a faster disk at a slightly higher price (but you need to increase the volume size to 10 GB).
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: "8"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: DisableIMDSv1
    value: true
  - namespace: aws:autoscaling:launchconfiguration
    option_name: LaunchTemplateTagPropagationEnabled
    value: true

  # Optional security group hardening:
  # - namespace: aws:autoscaling:launchconfiguration
  #   option_name: SSHSourceRestriction
  #   value: "tcp, 22, 22, 1.1.1.1/32"
  # Add additional security groups:
  # - namespace: aws:autoscaling:launchconfiguration
  #   option_name: SecurityGroups
  #   value: "elasticbeanstalk-default"
