# First create an ACM cert, then uncomment this and update the ARN below.
# Get the ARN with: aws acm list-certificates
# ALB is a little bit cheaper than ELB.

# SSL configuration for use with Application Load Balancer:
# Don't use this together with ALBListenerRule443 in resources.config!

# option_settings:
#   aws:elbv2:listener:443:
#     ListenerEnabled: 'true'
#     Protocol: HTTPS
#     SSLCertificateArns: arn:aws:acm:us-west-2:012345678901:certificate/12345678-12ab-34cd-56ef-123456789012


# SSL configuration for use with Classic Load Balancer:

# option_settings:
#   aws:elb:listener:443:
#     ListenerProtocol: HTTPS
#     SSLCertificateId: arn:aws:acm:us-west-2:012345678901:certificate/12345678-12ab-34cd-56ef-123456789012
#     InstancePort: 80
#     InstanceProtocol: HTTP


# Configuration for use with Network Load Balancer:
# Note: only enable after getting nginx to listen to port 443, otherwise health checks will fail.

# option_settings:
#   aws:elbv2:listener:443:
#     ListenerEnabled: 'true'
#     DefaultProcess: https
#   aws:elasticbeanstalk:environment:process:https:
#     Port: '443'
#
#   # To also forward SSH connections, use the following:
#   aws:elbv2:listener:22:
#     ListenerEnabled: 'true'
#     DefaultProcess: ssh
#   aws:elasticbeanstalk:environment:process:ssh:
#     Port: '22'
