# First create an ACM cert, then uncomment this and update the ARN.
# Launch with SSL_ENFORCER_HOST=rssbox.example.com to redirect to https.
# ALB is a little bit cheaper than ELB.

# SSL configuration for use with Application Load Balancer:

# option_settings:
#   aws:elbv2:listener:443:
#     Protocol: HTTPS
#     SSLCertificateArns: arn:aws:acm:us-west-2:012345678901:certificate/12345678-12ab-34cd-56ef-123456789012


# SSL configuration for use with Classic Load Balancer:

# option_settings:
#   aws:elb:listener:443:
#     ListenerProtocol: HTTPS
#     SSLCertificateId: arn:aws:acm:us-west-2:012345678901:certificate/12345678-12ab-34cd-56ef-123456789012
#     InstancePort: 80
#     InstanceProtocol: HTTP
