# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-platform-update-managed.html

option_settings:
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: "Mon:16:00"
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
    InstanceRefreshEnabled: false
