# https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-launchconfig.html
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-format-resources-eb.html

# To dump the template, run this after creating the app:
# env_id=$(aws elasticbeanstalk describe-environments --application-name rssbox --query Environments[0].EnvironmentId --output text)
# aws cloudformation get-template --stack-name "awseb-${env_id}-stack" --query TemplateBody > template.json

# Get parameters:
# aws cloudformation describe-stack-resource --stack-name awseb-e-rm3jns32ap-stack --logical-resource-id AWSEBBeanstalkMetadata --query StackResourceDetail.Metadata --output text | jq

Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: "AWS::AutoScaling::LaunchConfiguration"
    Properties:
      SpotPrice:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: "EC2_SPOT_PRICE"
          DefaultValue: {"Ref":"AWS::NoValue"}

  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: "ASG_HEALTH_CHECK_TYPE"
          DefaultValue: "EC2"
      HealthCheckGracePeriod: 600

  SSLSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
      # Comment CidrIp and use the following if you use a load balancer:
      # SourceSecurityGroupId: {"Ref":"AWSEBLoadBalancerSecurityGroup"}


  # Uncomment the resources below to update the ALB to do the following:
  # - Redirect all http requests to https.
  # - Redirect all non-canonical hostnames to what you want.
  # If redirected, path and query is intentionally removed.
  # Don't forget to update "rssbox.example.com" below!
  # There is a problem using this together with the option_settings in https.config, so choose one or the other!

  # http listener - always redirect to https

  # AWSEBV2LoadBalancerListener:
  #   Properties:
  #     DefaultActions:
  #       - Type: redirect
  #         RedirectConfig:
  #           StatusCode: HTTP_301
  #           Protocol: HTTPS
  #           Host: rssbox.example.com
  #           Port: 443
  #           Path: /
  #           Query: ""

  # https listener
  # First create an ACM cert, then update the ARN below.
  # Get the ARN with: aws acm list-certificates

  # ALBListenerRule443:
  #   Type: "AWS::ElasticLoadBalancingV2::ListenerRule"
  #   Properties:
  #     ListenerArn: {"Ref":"AWSEBV2LoadBalancerListener443"}
  #     Priority: 1
  #     Conditions:
  #       - Field: host-header
  #         Values:
  #           - rssbox.example.com
  #     Actions:
  #       - Type: forward
  #         TargetGroupArn: {"Ref":"AWSEBV2LoadBalancerTargetGroup"}
  #
  # AWSEBV2LoadBalancerListener443:
  #   Type: "AWS::ElasticLoadBalancingV2::Listener"
  #   Properties:
  #     LoadBalancerArn: {"Ref":"AWSEBV2LoadBalancer"}
  #     Protocol: HTTPS
  #     Port: 443
  #     Certificates:
  #       - CertificateArn: arn:aws:acm:us-west-2:012345678901:certificate/12345678-12ab-34cd-56ef-123456789012
  #     DefaultActions:
  #       - Type: redirect
  #         RedirectConfig:
  #           StatusCode: HTTP_301
  #           Protocol: HTTPS
  #           Host: rssbox.example.com
  #           Port: 443
  #           Path: /
  #           Query: ""
