# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.vpc.html

# Either use "eb create --vpc", or uncomment the options below.
# You cannot migrate a non-VPC environment to a VPC, so you have to set this before you create the environment!
# If you use AssociatePublicIpAddress=false, make sure you already have a NAT gateway and a bastion host!

# option_settings:
#   aws:ec2:vpc:
#     VPCId: vpc-01234566789abcdef
#     Subnets: subnet-01234566789abcdef,subnet-01234566789abcdef,subnet-01234566789abcdef
#     AssociatePublicIpAddress: 'false'
#     ELBScheme: public
#     ELBSubnets: subnet-01234566789abcdef,subnet-01234566789abcdef,subnet-01234566789abcdef
